#navbar {
  display: flex;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.title a {
  color: white;
  font-size: 2em;
  margin-left: 5%;
  font-weight: bold;
}

.nav-buttons a {
  color: white;
  font-size: 1.5em;
}

.nav-buttons {

}

a {
  text-decoration: none;
}

img {
  width: 50%;
  height: 50%;
}